<h1 class="flex justify-center text-center mt-5">The password checker</h1>
<div class="max-w-md mx-auto mt-8">
  <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <app-input-password (passwordChange)="onPasswordChange($event)" />
    <app-error-message [errorMessage]="errorMessage"></app-error-message>
    <div class="flex items-center justify-around mt-5">
      <app-password-strength-index
        [passwordStrength]="passwordStrenght"
      ></app-password-strength-index>
      <app-password-strength-text
        [passwordStrength]="passwordStrenght"
      ></app-password-strength-text>
    </div>
  </form>
</div>
